.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 10px;
    background-color: $color1;
    border-bottom: 1px solid $color2;

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            >button {
                &:first-child {
                    >i {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .app-logo {
        height: 32px;
        margin-left: 0.375rem;
        margin-right: 0.75rem;
    }

    .app-title {
        margin: 0;
        -webkit-user-select: none;
        user-select: none;
    }

    .menubar-btn {
        outline-style: none;
        box-shadow: none;
        border: none;
        margin: 0.75rem;
        padding: 0;
        background-color: transparent;
        -webkit-app-region: no-drag;

        >i {
            color: $color3;
            transition: color 0.25s ease-in 0s;
        }

        &:hover {
            >i {
                color: $color5;
            }
        }
    }

}